In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/Users/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [2]:
df = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\python\US_Accidents_Dec20.csv")
print(df)

                ID    Source    TMC  Severity           Start_Time  \
0              A-1  MapQuest  201.0         3  2016-02-08 05:46:00
1              A-2  MapQuest  201.0         2  2016-02-08 06:07:59
2              A-3  MapQuest  201.0         2  2016-02-08 06:49:27
3              A-4  MapQuest  201.0         3  2016-02-08 07:23:34
4              A-5  MapQuest  201.0         2  2016-02-08 07:39:07
...            ...       ...    ...       ...                  ...
4229389  A-4239402      Bing    NaN         2  2019-08-23 18:03:25
4229390  A-4239403      Bing    NaN         2  2019-08-23 19:11:30
4229391  A-4239404      Bing    NaN         2  2019-08-23 19:00:21
4229392  A-4239405      Bing    NaN         2  2019-08-23 19:00:21
4229393  A-4239406      Bing    NaN         2  2019-08-23 18:52:06

                    End_Time  Start_Lat   Start_Lng   End_Lat    End_Lng  ...  \
0        2016-02-08 11:00:00  39.865147  -84.058723       NaN        NaN  ...
1        2016-02-08 06:37:59  39.928059  -82.831184       NaN        NaN  ...
2        2016-02-08 07:19:27  39.063148  -84.032608       NaN        NaN  ...
3        2016-02-08 07:53:34  39.747753  -84.205582       NaN        NaN  ...
4        2016-02-08 08:09:07  39.627781  -84.188354       NaN        NaN  ...
...                      ...        ...         ...       ...        ...  ...
4229389  2019-08-23 18:32:01  34.002480 -117.379360  33.99888 -117.37094  ...
4229390  2019-08-23 19:38:23  32.766960 -117.148060  32.76555 -117.15363  ...
4229391  2019-08-23 19:28:49  33.775450 -117.847790  33.77740 -117.85727  ...
4229392  2019-08-23 19:29:42  33.992460 -118.403020  33.98311 -118.39565  ...
4229393  2019-08-23 19:21:31  34.133930 -117.230920  34.13736 -117.23934  ...

         Roundabout Station   Stop Traffic_Calming Traffic_Signal  \
0             False   False  False           False          False
1             False   False  False           False          False
2             False   False  False           False           True
3             False   False  False           False          False
4             False   False  False           False           True
...             ...     ...    ...             ...            ...
4229389       False   False  False           False          False
4229390       False   False  False           False          False
4229391       False   False  False           False          False
4229392       False   False  False           False          False
4229393       False   False  False           False          False

        Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight  \
0              False          Night          Night             Night
1              False          Night          Night             Night
2              False          Night          Night               Day
3              False          Night            Day               Day
4              False            Day            Day               Day
...              ...            ...            ...               ...
4229389        False            Day            Day               Day
4229390        False            Day            Day               Day
4229391        False            Day            Day               Day
4229392        False            Day            Day               Day
4229393        False            Day            Day               Day

        Astronomical_Twilight
0                       Night
1                         Day
2                         Day
3                         Day
4                         Day
...                       ...
4229389                   Day
4229390                   Day
4229391                   Day
4229392                   Day
4229393                   Day

[4229394 rows x 49 columns]

In [3]:
print('The DataFrame has {} rows and {} columns'.format(df.shape[0],df.shape[1]))
print('\n')
missing = df.isnull().sum().sort_values(ascending=False)
percent_missing = ((missing/df.isnull().count())*100).sort_values(ascending=False)
missing_df = pd.concat([missing,percent_missing], axis=1, keys=['Total', 'Percent'],sort=False)
missing_df[missing_df['Total']>=1]

The DataFrame has 4229394 rows and 49 columns

                         Total    Percent
End_Lat                2716477  64.228516
End_Lng                2716477  64.228516
Number                 2686191  63.512432
Precipitation(in)      2065402  48.834467
Wind_Chill(F)          1895871  44.826067
TMC                    1512917  35.771484
Wind_Speed(mph)         479212  11.330512
Visibility(mi)           98557   2.330287
Weather_Condition        98282   2.323784
Humidity(%)              95346   2.254366
Temperature(F)           89783   2.122834
Wind_Direction           83496   1.974184
Pressure(in)             76288   1.803757
Weather_Timestamp        62553   1.479006
Airport_Code              8961   0.211874
Timezone                  4609   0.108975
Zipcode                   1291   0.030524
Nautical_Twilight          141   0.003334
Astronomical_Twilight      141   0.003334
Civil_Twilight             141   0.003334
Sunrise_Sunset             141   0.003334
City                       137   0.003239
Description                  2   0.000047

In [4]:
lst = ['Humidity(%)','Precipitation(in)','Wind_Chill(F)','Wind_Speed(mph)','Visibility(mi)']
for l in lst:
    df[l] = df[l].fillna(0)

In [5]:
lst = ['Temperature(F)','Pressure(in)']
for l in lst:
    df[l]=df[l].fillna(df[l].mean())

In [6]:
'''
This is a good time to take a look at our missing values again. I have added a third column showing the respective data types
'''
missing = df.isnull().sum().sort_values(ascending=False)
percent_missing = ((missing/df.isnull().count())*100).sort_values(ascending=False)
missing_df = pd.concat([missing,percent_missing,df[missing.index].dtypes], axis=1, keys=['Total', 'Percent','Data Types'],sort=False)
missing_df[missing_df['Total']>=1]

                         Total    Percent Data Types
End_Lat                2716477  64.228516    float64
End_Lng                2716477  64.228516    float64
Number                 2686191  63.512432    float64
TMC                    1512917  35.771484    float64
Weather_Condition        98282   2.323784     object
Wind_Direction           83496   1.974184     object
Weather_Timestamp        62553   1.479006     object
Airport_Code              8961   0.211874     object
Timezone                  4609   0.108975     object
Zipcode                   1291   0.030524     object
Nautical_Twilight          141   0.003334     object
Astronomical_Twilight      141   0.003334     object
Sunrise_Sunset             141   0.003334     object
Civil_Twilight             141   0.003334     object
City                       137   0.003239     object
Description                  2   0.000047     object

In [7]:
missing_copy = missing_df[missing_df['Total']>=1].copy()

In [8]:
object_columns = missing_copy[missing_copy['Data Types']=='object'].index
df[object_columns].head()

,Weather_Condition,Wind_Direction,Weather_Timestamp,Airport_Code,Timezone,Zipcode,Nautical_Twilight,Astronomical_Twilight,Sunrise_Sunset,Civil_Twilight,City,Description
0,Light Rain,Calm,2016-02-08 05:58:00,KFFO,US/Eastern,45424,Night,Night,Night,Night,Dayton,Right lane blocked due to accident on I-70 Eas...
1,Light Rain,Calm,2016-02-08 05:51:00,KCMH,US/Eastern,43068-3402,Night,Day,Night,Night,Reynoldsburg,Accident on Brice Rd at Tussing Rd. Expect del...
2,Overcast,SW,2016-02-08 06:56:00,KI69,US/Eastern,45176,Day,Day,Night,Night,Williamsburg,Accident on OH-32 State Route 32 Westbound at ...
3,Mostly Cloudy,SW,2016-02-08 07:38:00,KDAY,US/Eastern,45417,Day,Day,Night,Day,Dayton,Accident on I-75 Southbound at Exits 52 52B US...
4,Mostly Cloudy,SW,2016-02-08 07:53:00,KMGY,US/Eastern,45459,Day,Day,Day,Day,Dayton,Accident on McEwen Rd at OH-725 Miamisburg Cen...

In [9]:
df['City'] = df.groupby('State')['City'].transform(lambda grp: grp.fillna(grp.value_counts().index[0]))

In [10]:
df['Start_Time'] = pd.to_datetime(df['Start_Time']) # convert Start_Time to datetime
df['End_Time'] = pd.to_datetime(df['End_Time']) # convert End_Time to datetime
df['Weather_Timestamp'] = pd.to_datetime(df['Weather_Timestamp']) # convert Weather_Timestamp to datetime

In [11]:
# fill the Nautical_Twilight column with Day/Night by inferring the Start_Time column

def filler(df,columns):
    # get list comprising column missing data
    lst = df[df[columns].isna()].index
    for i in lst:
        if 6<= df.loc[i,'Start_Time'].hour and df.loc[i,'Start_Time'].hour <18:
            df[columns] = df[columns].fillna('Day')
        else:
            df[columns] = df[columns].fillna('Night')

filler(df,'Nautical_Twilight')

In [12]:
# Another easier option is to just impute the Day/Night values wth the mode as ['Sunrise_Sunset','Civil_Twilight','Astronomical_Twilight'] 
# vary depending on time of year and might be difficult to infer based on hour of day.

def median_imputer(x):
    df[x].fillna(df[x].mode()[0],inplace=True)

median_impute = ['Sunrise_Sunset','Civil_Twilight','Astronomical_Twilight','Wind_Direction','Weather_Condition']
for col in median_impute:
    median_imputer(col)

In [13]:
# impute the timezone based on the State column

df['Timezone'] = df.groupby('State')['Timezone'].transform(lambda tz: tz.fillna(tz.value_counts().index[0]))

In [14]:
# impute the Weather_Timestamp with the value at Start_Time. This column records the time the weather was taken (we won't really need it)

df.loc[(pd.isnull(df.Weather_Timestamp)), 'Weather_Timestamp'] = df.Start_Time

In [15]:
'''
This is a good time to take a look at our missing values again.
'''
missing = df.isnull().sum().sort_values(ascending=False)
percent_missing = ((missing/df.isnull().count())*100).sort_values(ascending=False)
missing_df = pd.concat([missing,percent_missing,df[missing.index].dtypes], axis=1, keys=['Total', 'Percent','Data Types'],sort=False)
missing_df[missing_df['Total']>=1]

                Total    Percent Data Types
End_Lat       2716477  64.228516    float64
End_Lng       2716477  64.228516    float64
Number        2686191  63.512432    float64
TMC           1512917  35.771484    float64
Airport_Code     8961   0.211874     object
Zipcode          1291   0.030524     object
Description         2   0.000047     object

In [16]:
# we do for Zipcode and Airport_Code what we did for columns like Timezone
df['Zipcode'] = df.groupby('State')['Zipcode'].transform(lambda zc: zc.fillna(zc.value_counts().index[0]))
df['Airport_Code'] = df.groupby('State')['Airport_Code'].transform(lambda ac: ac.fillna(ac.value_counts().index[0]))

In [17]:
# we will fill the one record in Description with 'Accident'

df.Description = df.Description.fillna('Accident')

In [18]:
df.drop(labels=['End_Lat', 'End_Lng'],axis=1,inplace=True)

In [19]:
df['Number'] = df.groupby('State')['Number'].transform(lambda n: n.fillna(n.value_counts().index[0]))
df.TMC = df.TMC.fillna(201.0)

In [20]:
'''
This is a good time to take a look at our missing values again.
'''
missing = df.isnull().sum().sort_values(ascending=False)
percent_missing = ((missing/df.isnull().count())*100).sort_values(ascending=False)
missing_df = pd.concat([missing,percent_missing,df[missing.index].dtypes], axis=1, keys=['Total', 'Percent','Data Types'],sort=False)
missing_df[missing_df['Total']>=1]

Empty DataFrame
Columns: [Total, Percent, Data Types]
Index: []

In [21]:
df.sample(10)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
1530908,A-1531014,MapQuest,201.0,3,2019-03-19 16:34:03,2019-03-19 17:03:18,32.900452,-96.717850,0.000,Express lane blocked due to accident on I-635 ...,...,False,False,False,False,False,False,Day,Day,Day,Day
3748561,A-3758569,Bing,201.0,2,2019-12-30 14:26:00,2019-12-30 15:00:29,37.936450,-122.060120,0.008,At Contra Costa Blvd - Accident. Obstruction o...,...,False,False,False,False,False,False,Day,Day,Day,Day
568230,A-568255,MapQuest,201.0,2,2020-11-16 06:53:23,2020-11-16 07:52:35,34.523830,-82.015877,0.000,Accident on Ranch Rd at Ranch Est.,...,False,False,False,False,False,False,Night,Day,Day,Day
2251677,A-2251796,MapQuest,201.0,2,2018-03-15 22:35:27,2018-03-15 23:50:12,35.435184,-97.554619,0.000,Accident on 29th St at Agnew Ave.,...,False,False,False,False,True,False,Night,Night,Night,Night
2001184,A-2001297,MapQuest,201.0,3,2018-07-10 14:01:04,2018-07-10 14:30:49,33.997814,-118.146973,0.000,Accident on I-5 Southbound at Exit 128B Washin...,...,False,False,False,False,False,False,Day,Day,Day,Day
3770924,A-3780932,Bing,201.0,4,2019-12-17 22:07:55,2019-12-17 22:35:30,43.130880,-77.659440,0.214,Closed between I-390 and Westfield St - Road c...,...,False,False,False,False,False,False,Night,Night,Night,Night
717518,A-717594,MapQuest,201.0,3,2020-08-06 12:12:54,2020-08-06 12:57:47,35.299767,-78.597061,0.000,Left lane blocked due to accident on I-95 Sout...,...,False,False,False,False,False,False,Day,Day,Day,Day
2177948,A-2178067,MapQuest,201.0,2,2018-04-09 08:45:59,2018-04-09 09:15:30,36.048401,-86.665604,0.000,Accident on Cane Ridge Rd Westbound near Cedar...,...,False,False,False,False,False,False,Day,Day,Day,Day
3947383,A-3957394,Bing,201.0,3,2018-11-01 16:52:16,2018-11-01 17:21:30,33.888180,-117.552040,0.465,At Yuma Dr - Accident. Right lane blocked.,...,False,False,False,False,False,False,Day,Day,Day,Day
3221762,A-3228897,Bing,201.0,2,2020-12-26 01:03:03,2020-12-26 02:19:48,32.187666,-110.968343,0.180,Incident on S 6TH AVE near W 44TH ST Drive wit...,...,False,False,False,False,True,False,Night,Night,Night,Night

In [ ]:
# write and store the cleaned file to a pickle file
df.to_pickle('US_Accidents_Cleaned.pkl')